@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Resist';
  src: local("Resist Sans Display Regular"), local("Resist-Sans-Display-Regular"), url("../fonts/ResistSansDisplay-Regular.woff2") format("woff2"), url("../fonts/ResistSansDisplay-Regular.woff") format("woff"), url("../fonts/ResistSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Resist';
  src: local("Resist Sans Display Light"), local("Resist-Sans-Display-Light"), url("../fonts/ResistSansDisplay-Light.woff2") format("woff2"), url("../fonts/ResistSansDisplay-Light.woff") format("woff"), url("../fonts/ResistSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Resist';
  src: local("Resist Sans Display Thin"), local("Resist-Sans-Display-Thin"), url("../fonts/ResistSansDisplay-Thin.woff2") format("woff2"), url("../fonts/ResistSansDisplay-Thin.woff") format("woff"), url("../fonts/ResistSansDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  min-height: 0;
  min-width: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  font-size: 16px;
  width: 100%;
  display: block;
  font-weight: 300;
  padding: 0 16px;
  background-color: #fff;
}

.input::-webkit-input-placeholder {
  color: #A6A6A6;
  font-size: 16px;
}

.input::-moz-placeholder {
  color: #A6A6A6;
  font-size: 16px;
}

.input:-ms-input-placeholder {
  color: #A6A6A6;
  font-size: 16px;
}

.input::-ms-input-placeholder {
  color: #A6A6A6;
  font-size: 16px;
}

.input::placeholder {
  color: #A6A6A6;
  font-size: 16px;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  color: transparent;
}

.input:focus::-ms-input-placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: transparent;
}

textarea.input {
  resize: none;
  padding: 13px 16px;
  background-color: #F8F8F8;
  min-height: 152px;
}

textarea.input::-webkit-input-placeholder {
  color: #A6A6A6;
}

textarea.input::-moz-placeholder {
  color: #A6A6A6;
}

textarea.input:-ms-input-placeholder {
  color: #A6A6A6;
}

textarea.input::-ms-input-placeholder {
  color: #A6A6A6;
}

textarea.input::placeholder {
  color: #A6A6A6;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__input:checked + .checkbox__text:before {
  border: 1px solid #464646;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #464646;
  background-color: #fff;
}

.checkbox__text:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 3.9px;
  top: 4px;
  background-color: #464646;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select {
  display: none;
}

.swiper-build {
  overflow: hidden;
}

.swiper-build .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.swiper-build .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.swiper-build.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-build.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-build.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.btn {
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  background-color: #fff;
  border: 1px solid #464646;
  font-family: "Montserrat", sans-serif;
  color: #464646;
  padding: 2px 15px;
  line-height: 110%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 36px;
  padding-left: 28px;
  padding-right: 28px;
}

.btn._active {
  color: #374A67;
  background-color: rgba(217, 226, 232, 0.51);
}

.btn_large {
  min-height: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.text {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  line-height: 135%;
}

.text p {
  margin: 0 0 35px 0;
}

.text p:last-child {
  margin: 0;
}

.title {
  position: relative;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  line-height: 120%;
}

.title_left {
  text-align: left;
}

.title_decor span {
  position: relative;
}

.title_decor span::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  height: 264px;
  width: 264px;
  z-index: -1;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, from(#D9E2E8), color-stop(83.46%, rgba(217, 226, 232, 0)));
  background: -o-linear-gradient(right, #D9E2E8 0%, rgba(217, 226, 232, 0) 83.46%);
  background: linear-gradient(270deg, #D9E2E8 0%, rgba(217, 226, 232, 0) 83.46%);
}

.title_decor span::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  height: 260px;
  z-index: -1;
  width: 260px;
  background-color: #fff;
  border-radius: 50%;
}

._ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  position: relative;
  z-index: 3;
  border-bottom: 1px solid transparent;
}

.header_main {
  background-color: rgba(255, 255, 255, 0.81);
}

.top-header {
  min-height: 117px;
  position: relative;
  overflow: hidden;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-header__column:nth-child(2),
.top-header__column:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column:nth-child(2) {
  padding: 0 20px 0 0;
}

.top-header__column:nth-child(4) {
  padding-left: 20px;
}

.top-header__column:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83px;
          flex: 0 0 83px;
}

.top-header__search {
  position: relative;
}

.top-header__search > button {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 73px;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__search > button svg {
  width: 25px;
  height: 25px;
}

.top-header__search .input {
  min-height: 47px;
  font-size: 16px;
}

.top-header__search .input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.49);
  font-size: 16px;
}

.top-header__search .input::-moz-placeholder {
  color: rgba(70, 70, 70, 0.49);
  font-size: 16px;
}

.top-header__search .input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.49);
  font-size: 16px;
}

.top-header__search .input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.49);
  font-size: 16px;
}

.top-header__search .input::placeholder {
  color: rgba(70, 70, 70, 0.49);
  font-size: 16px;
}

.top-header__logo {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.top-header__logo img {
  max-width: 100%;
  height: auto;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.actions-header__item {
  margin-right: 30px;
  position: relative;
}

.actions-header__item > svg {
  width: 30px;
  height: 30px;
}

.actions-header__item:last-child {
  margin: 0;
}

.actions-header__phone {
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.actions-header__count {
  position: absolute;
  top: -12px;
  right: -10px;
  background: rgba(70, 70, 70, 0.37);
  border: 1px solid #464646;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.actions-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__item > svg {
  cursor: pointer;
  width: 21px;
  height: 9px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__item._active > svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu__item:last-child {
  margin: 0;
}

.menu__more {
  display: none;
}

.menu__link {
  font-size: 20px;
}

.menu__link span {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #DD4B4B;
}

.menu__actions {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #464646;
}

.socials-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-menu__item {
  margin: 0 28px 0 0;
}

.socials-menu__item:last-child {
  margin: 0;
}

.socials-menu svg {
  width: 28px;
  height: 28px;
}

.submenu__item {
  font-size: 20px;
  margin-bottom: 15px;
}

.submenu__item:last-child {
  margin-bottom: 0;
}

.submenu__link {
  line-height: 120%;
}

.icon-menu {
  display: none;
}

.mainslider {
  position: relative;
  min-height: calc(100vh + 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainslider .swiper-pagination-bullets {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainslider .swiper-pagination-bullet {
  height: 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 20px 0 0;
  border-radius: 50%;
}

.mainslider .swiper-pagination-bullet:last-child {
  margin: 0;
}

.mainslider .swiper-pagination-bullet-active {
  background-color: #fff;
}

.mainslider__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainslider__slide {
  position: relative;
  width: 100px;
  min-height: calc(100vh + 60px);
}

.mainslider__content {
  padding: 90px 10px;
  position: relative;
  width: 100%;
  pointer-events: none;
  z-index: 6;
}

.mainslider__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainslider__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainslider__title {
  font-size: 110px;
  font-family: 'Resist', sans-serif;
  font-weight: 500;
  line-height: 110%;
  color: #fff;
  margin: 0 0 43px 0;
}

.mainslider__btn {
  font-size: 60px;
  min-height: 121px;
  pointer-events: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 43px;
  border: 3px solid #FFFFFF;
}

.mainslider__btn span {
  padding: 0 20px 0 0;
}

.mainslider__btn__arrow {
  width: 90px;
}

.mainslider__btn svg {
  width: 90px;
  height: 18px;
  display: inline-block;
}

.about-page__title {
  font-size: 96px;
  margin-bottom: 97px;
  display: inline-block;
  padding: 8px 0;
  line-height: calc(151 / 96 * 100%);
  position: relative;
}

.about-page__title::after,
.about-page__title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: -o-linear-gradient(0.45deg, #D9E2E8 3.76%, rgba(217, 226, 232, 0) 99.7%);
  background: linear-gradient(89.55deg, #D9E2E8 3.76%, rgba(217, 226, 232, 0) 99.7%);
  left: 0;
}

.about-page__title::after {
  top: 0;
}

.about-page__title::before {
  bottom: 0;
}

.about-page__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 800px;
          flex: 0 0 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-page__image-wrapper {
  position: relative;
  z-index: 10;
}

.about-page__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 40%;
}

.about-page__image_small {
  position: absolute;
  left: 10%;
  bottom: -83px;
}

.about-page__image_small::before {
  content: "";
  position: absolute;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  background-color: #fff;
  top: -8px;
  right: -8px;
  z-index: 3;
}

.about-page__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-page__body {
  background-color: #D9E2E8;
  padding-top: 45px;
  padding-bottom: 45px;
}

.catalog-page__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 23px 25px;
}

.catalog-page__item_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.catalog-page__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog-page__label {
  min-height: 200px;
  font-size: 64px;
  font-weight: 300;
  padding: 64px 50px;
  line-height: calc(100 / 64 * 100%);
  position: relative;
  z-index: 10;
  border: 3px solid #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.products__title {
  font-size: 72px;
  margin-bottom: 79px;
  text-align: center;
}

.products__column {
  margin: 0 0 35px 0;
}

.item-product {
  position: relative;
}

.item-product__image {
  display: block;
  padding: 0 0 123% 0;
  margin: 0 0 2px 0;
}

.item-product__title {
  font-size: 36px;
  display: inline-block;
  line-height: calc(35 / 30 * 100%);
  margin: 0 0 16px 0;
}

.item-product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-product__price {
  font-size: 30px;
}

.item-product__price_old {
  margin-right: 64px;
  opacity: 0.35;
  text-decoration: line-through;
}

.item-product__favorite {
  background-color: transparent;
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 15px;
}

.item-product__favorite svg {
  width: 25px;
  height: 25px;
}

.item-product__favorite._active svg {
  fill: #72FFF7;
}

.footer {
  padding-top: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__body {
  background-color: #D9E2E8;
}

.footer__top {
  padding-top: 66px;
  padding-bottom: 87px;
}

.footer__logo {
  display: inline-block;
}

.footer__logo img {
  max-width: 100%;
  height: auto;
}

.footer__bottom {
  padding-top: 28px;
  padding-bottom: 32px;
}

.footer__copy {
  margin: 0 8px 0 0;
}

.menu-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -35px;
}

.menu-footer__column {
  padding: 0 35px;
}

.menu-footer__item {
  margin-bottom: 30px;
}

.menu-footer__link {
  line-height: 110%;
}

.menu-footer__link_red {
  color: #DD4B4B;
}

.title-footer {
  line-height: 120%;
  font-size: 24px;
  margin-bottom: 30px;
}

.socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-footer__item {
  margin: 0 20px 0 0;
}

.socials-footer__item:last-child {
  margin: 0;
}

.socials-footer svg {
  height: 30px;
  width: 30px;
}

.subscription-footer {
  position: relative;
  display: inline-block;
  width: 300px;
}

.subscription-footer__title {
  margin-bottom: 30px;
}

.subscription-footer input {
  min-height: 50px;
  padding: 0 56px 0 16px;
}

.subscription-footer__btn {
  position: absolute;
  background-color: #BEC3C7;
  right: 2px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: calc(100% - 4px);
  padding: 0 8px;
  display: inline-block;
}

.subscription-footer__btn svg {
  width: 27px;
  height: 13.5px;
}

.subscription-footer__text {
  margin-bottom: 23px;
  line-height: 110%;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 30px;
}

.breadcrumbs__link,
.breadcrumbs__item {
  font-size: 42px;
}

.breadcrumbs__link {
  color: rgba(70, 70, 70, 0.46);
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.breadcrumbs__list li {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 18px 0 0;
  padding: 0 18px 0 0;
  position: relative;
}

.breadcrumbs__list li::after {
  content: "/";
  position: absolute;
  font-size: 42px;
  top: 0;
  right: 0;
}

.breadcrumbs__list li:last-child {
  margin: 0;
}

.breadcrumbs__list li:last-child::after {
  display: none;
}

.side__title {
  font-size: 50px;
  margin-bottom: 52px;
  font-weight: 100;
}

.filter {
  padding: 0 25px 0 0;
}

.filter__item {
  padding: 10px 0;
}

.filter__btn {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 100;
  background-color: #D9E2E8;
  border: 1px solid #B3C1CB;
  text-transform: uppercase;
  width: 100%;
  min-height: 60px;
  margin: 14px 0 0 0;
}

.filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 100%;
  font-weight: 100;
  font-size: 20px;
}

.filter__title svg {
  height: 12px;
  width: 12px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.filter__title._active svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.filter__list {
  padding: 20px 0 0 0;
}

.filter__list li {
  margin: 0 0 20px 0;
}

.filter__list li:last-child {
  margin: 0;
}

.catalog__title {
  margin-bottom: 45px;
}

.catalog__actions {
  margin: 0 0 25px 0;
}

.catalog__more {
  text-align: center;
  margin-top: 30px;
}

.actions-catalog {
  display: none;
}

.actions-catalog__select {
  margin: 0 10px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.actions-catalog__filter-btn {
  font-size: 20px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  max-width: 130px;
}

.actions-catalog__filter-btn span {
  font-weight: 100;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.actions-catalog__filter-btn svg {
  margin: 0 0 0 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 15px;
}

.products-catalog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 35px 0;
}

.product__btn {
  display: none;
}

.product__content {
  margin-bottom: 130px;
}

.images-product__mainslider {
  margin: 0 0 20px 0;
}

.images-product__subslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -14px;
  min-width: 0;
}

.images-product__subslider .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images-product__subslide {
  padding: 0 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
}

.images-product__subimage {
  padding: 0 0 123% 0;
}

.body-product__title {
  font-size: 54px;
  line-height: 135%;
  margin: 0 0 28px 0;
}

.body-product__item {
  margin: 0 0 3px 0;
}

.body-product__label {
  font-size: 48px;
  line-height: 115%;
  margin: 0 0 16px 0;
}

.body-product__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-product__btn {
  margin: 0 20px 20px 0;
}

.body-product__btn:last-child {
  margin-right: 0;
}

.body-product__description {
  font-size: 22px;
  line-height: 130%;
  padding: 10px 0;
  margin: 0 0 35px 0;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
}

.body-product__price {
  font-size: 35px;
  font-weight: 100;
  color: #000;
  margin: 0 0 30px 0;
}

.body-product__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-product__btn {
  margin: 0 10px 0 0;
}

.actions-product__btn:last-child {
  margin: 0;
}

.actions-product__btn svg {
  height: 30px;
  width: 30px;
}

.about__title {
  font-size: 96px;
  margin-bottom: 129px;
}

.about__text {
  text-align: center;
  margin-bottom: 95px;
}

.about__text_bottom {
  padding: 40px 0;
  position: relative;
}

.about__text_bottom::before,
.about__text_bottom::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 7px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(199, 210, 217, 0)), color-stop(49.47%, #D9E2E8), color-stop(99.97%, rgba(186, 195, 202, 0)));
  background: -o-linear-gradient(right, rgba(199, 210, 217, 0) 0%, #D9E2E8 49.47%, rgba(186, 195, 202, 0) 99.97%);
  background: linear-gradient(270deg, rgba(199, 210, 217, 0) 0%, #D9E2E8 49.47%, rgba(186, 195, 202, 0) 99.97%);
}

.about__text_bottom::before {
  top: 0;
}

.about__text_bottom::after {
  bottom: 0;
}

.about__images {
  margin-bottom: 158px;
}

.about__image {
  width: 100%;
  padding: 0 0 123% 0;
}

body {
  color: #464646;
  font-size: 18px;
  font-family: 'Resist', sans-serif;
  font-weight: 300;
}

body._lock {
  overflow: hidden;
}

a {
  color: #464646;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

button {
  cursor: pointer;
}

svg {
  fill: #464646;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1845px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__content {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__about {
  padding-top: 79px;
  padding-bottom: 101px;
}

.page__catalog {
  padding-top: 86px;
}

.page__products {
  padding-top: 78px;
}

.page__side {
  display: none;
}

.content__title {
  font-size: 96px;
  margin-bottom: 129px;
}

.content__item {
  margin-bottom: 85px;
}

.content__item:last-child {
  margin: 0;
}

.item-content__title {
  font-weight: 300;
  line-height: 125%;
  margin: 0 auto 10px auto;
  font-size: 64px;
}

.item-content__text {
  margin: 0 0 20px 0;
  padding-left: 60px;
}

.item-content__text_decor {
  background: url("../img/icons/decor.png") -40px 0 no-repeat;
  background-size: 100px 30px;
}

.item-content__text_decor p {
  padding: 0 10px 0 30px;
}

.item-content__text p {
  margin: 0 auto 35px auto !important;
}

.item-content__text p:last-child {
  margin: 0 auto 0 auto;
}

.item-content__subtitle {
  font-weight: 300;
  margin: 0 auto 10px auto;
  margin-top: 129px;
  font-size: 55px;
}

@media (min-width: 510px) {
  .products__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -5px;
  }

  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 5px;
  }

  .products-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -5px;
  }

  .products-catalog__column {
    padding: 0 5px;
  }
}

@media (min-width: 630px) {
  .footer__top {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu-footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 767.98px) {
  .top-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear, right top, left top, color-stop(0.81%, rgba(35, 35, 35, 0)), color-stop(49.37%, #464646), to(rgba(57, 57, 57, 0)));
    background: -o-linear-gradient(right, rgba(35, 35, 35, 0) 0.81%, #464646 49.37%, rgba(57, 57, 57, 0) 100%);
    background: linear-gradient(270deg, rgba(35, 35, 35, 0) 0.81%, #464646 49.37%, rgba(57, 57, 57, 0) 100%);
  }

  .top-header__search {
    max-width: 421px;
  }

  .top-header__search > button svg {
    width: 20px;
    height: 20px;
  }

  .top-header__search .input {
    border: 1px solid #464646;
    border-radius: 36px;
    padding: 0 74px 0 20px;
  }

  .actions-header__phone {
    font-size: 24px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }

  .menu__list {
    height: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    margin-right: 77px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 5px 0;
  }

  .menu__link {
    padding: 0 7px 0 0;
  }

  .menu__submenu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    z-index: 2;
    width: 215px;
    padding: 15px;
    height: auto;
    border: 1px solid #464646;
  }

  .menu__actions {
    display: none;
  }

  .mainslider {
    min-height: calc(100vh + 175px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mainslider__slide {
    min-height: calc(100vh + 175px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mainslider__content {
    text-align: center;
  }

  .mainslider__image_half {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .about__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -13px;
  }

  .about__image-col {
    padding: 0 13px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 991.98px) {
  .about-page__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .about-page__text {
    padding: 0 25px 0 0;
  }

  .about-page__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .catalog-page__row {
    margin: 0 -10px;
    min-height: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .catalog-page__column {
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .catalog-page__column_small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .products__row {
    margin: 0 -10px;
  }

  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0 10px;
  }

  .footer__top {
    grid-template-columns: 90px 1fr 300px;
    grid-template-rows: auto;
  }

  .footer__bottom {
    border-top: 1px solid #909090;
  }

  .filter__title {
    font-size: 28px;
  }

  .products-catalog {
    margin: 0 -10px;
  }

  .products-catalog__column {
    padding: 0 10px;
  }

  .product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .product__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 40px;
  }

  .product__btn span {
    height: 100%;
    display: block;
    line-height: 30px;
    padding: 0 0 0 40px;
    background: url("../img/icons/ruler.png") 0 50%/30px no-repeat;
  }

  .product__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .product__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-left: 35px;
  }

  .images-product__mainslide {
    padding: 0 0 123% 0;
  }

  .table-product {
    font-family: 'Montserrat', sans-serif;
  }

  .table-product tr {
    display: block;
  }

  .table-product tr:first-child td {
    font-size: 42px;
  }

  .table-product tr:first-child {
    border-bottom: 1px solid #464646;
  }

  .table-product th {
    font-size: 30px;
    width: 150px;
    min-height: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid #464646;
    padding: 16px;
  }

  .table-product td {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    min-height: 80px;
    padding: 16px;
  }

  .page__body {
    padding: 0 0 0 30px;
  }

  .page__side {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    padding-bottom: 40px;
  }

  .page__side::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgba(199, 210, 217, 0)), color-stop(21.87%, rgba(214, 223, 229, 0.810998)), color-stop(34.89%, rgba(216, 225, 231, 0.936842)), color-stop(49.47%, #D9E2E8), color-stop(63%, rgba(215, 224, 230, 0.948454)), color-stop(76.54%, rgba(210, 220, 226, 0.788152)), color-stop(99.97%, rgba(186, 195, 202, 0)));
    background: -o-linear-gradient(right, rgba(199, 210, 217, 0) 0%, rgba(214, 223, 229, 0.810998) 21.87%, rgba(216, 225, 231, 0.936842) 34.89%, #D9E2E8 49.47%, rgba(215, 224, 230, 0.948454) 63%, rgba(210, 220, 226, 0.788152) 76.54%, rgba(186, 195, 202, 0) 99.97%);
    background: linear-gradient(270deg, rgba(199, 210, 217, 0) 0%, rgba(214, 223, 229, 0.810998) 21.87%, rgba(216, 225, 231, 0.936842) 34.89%, #D9E2E8 49.47%, rgba(215, 224, 230, 0.948454) 63%, rgba(210, 220, 226, 0.788152) 76.54%, rgba(186, 195, 202, 0) 99.97%);
  }
}

@media (min-width: 1600px) {
  .top-header__search > button svg {
    height: 30px;
    width: 30px;
  }

  .menu__link {
    padding: 0 9px 0 0;
  }

  .mainslider {
    min-height: calc(100vh + 229px);
  }

  .mainslider__slide {
    min-height: calc(100vh + 229px);
  }

  .about-page__text {
    padding: 0 120px 0 0;
  }

  .catalog-page__row {
    margin: 0 -21px;
  }

  .catalog-page__column {
    padding: 0 21px;
  }

  .products__row {
    margin: 0 -19px;
  }

  .products__column {
    padding: 0 19px;
  }

  .footer__top {
    grid-template-columns: 138px 1fr 371px;
  }

  .products-catalog {
    margin: 0 -19px;
  }

  .products-catalog__column {
    padding: 0 19px;
  }

  .page__body {
    padding: 0 0 0 46px;
  }
}

@media (min-width: 1857px) {
  .item-content__text_decor {
    background-size: 167px 50px;
  }
}

@media (max-width: 1845px) {
  .btn {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1525));
  }

  .btn {
    font-size: calc(18px + 18 * ((100vw - 320px) / 1525));
  }

  .btn {
    padding-left: calc(20px + 8 * ((100vw - 320px) / 1525));
  }

  .btn {
    padding-right: calc(20px + 8 * ((100vw - 320px) / 1525));
  }

  .btn_large {
    min-height: calc(60px + 40 * ((100vw - 320px) / 1525));
  }

  .btn_large {
    padding-left: calc(30px + 10 * ((100vw - 320px) / 1525));
  }

  .btn_large {
    padding-right: calc(30px + 10 * ((100vw - 320px) / 1525));
  }

  .text {
    font-size: calc(22px + 28 * ((100vw - 320px) / 1525));
  }

  .title {
    font-size: calc(30px + 30 * ((100vw - 320px) / 1525));
  }

  .top-header__column:nth-child(4) {
    padding-left: calc(12px + 8 * ((100vw - 320px) / 1525));
  }

  .actions-header__item {
    margin-right: calc(18px + 12 * ((100vw - 320px) / 1525));
  }

  .mainslider__title {
    font-size: calc(48px + 62 * ((100vw - 320px) / 1525));
  }

  .mainslider__btn {
    font-size: calc(24px + 36 * ((100vw - 320px) / 1525));
  }

  .mainslider__btn {
    min-height: calc(59px + 62 * ((100vw - 320px) / 1525));
  }

  .about-page__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1525));
  }

  .about-page__title {
    margin-bottom: calc(27px + 70 * ((100vw - 320px) / 1525));
  }

  .catalog-page__body {
    padding-top: calc(20px + 25 * ((100vw - 320px) / 1525));
  }

  .catalog-page__body {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 1525));
  }

  .catalog-page__label {
    min-height: calc(100px + 100 * ((100vw - 320px) / 1525));
  }

  .catalog-page__label {
    font-size: calc(26px + 38 * ((100vw - 320px) / 1525));
  }

  .products__title {
    font-size: calc(36px + 36 * ((100vw - 320px) / 1525));
  }

  .products__title {
    margin-bottom: calc(30px + 49 * ((100vw - 320px) / 1525));
  }

  .item-product__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 1525));
  }

  .item-product__price {
    font-size: calc(16px + 14 * ((100vw - 320px) / 1525));
  }

  .item-product__price_old {
    margin-right: calc(28px + 36 * ((100vw - 320px) / 1525));
  }

  .footer {
    padding-top: calc(42px + 22 * ((100vw - 320px) / 1525));
  }

  .footer__top {
    padding-top: calc(17px + 49 * ((100vw - 320px) / 1525));
  }

  .footer__top {
    padding-bottom: calc(12px + 75 * ((100vw - 320px) / 1525));
  }

  .footer__bottom {
    padding-top: calc(22px + 6 * ((100vw - 320px) / 1525));
  }

  .footer__bottom {
    padding-bottom: calc(22px + 10 * ((100vw - 320px) / 1525));
  }

  .menu-footer__item {
    margin-bottom: calc(12px + 18 * ((100vw - 320px) / 1525));
  }

  .title-footer {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1525));
  }

  .title-footer {
    margin-bottom: calc(12px + 18 * ((100vw - 320px) / 1525));
  }

  .subscription-footer__title {
    margin-bottom: calc(12px + 18 * ((100vw - 320px) / 1525));
  }

  .subscription-footer__text {
    margin-bottom: calc(13px + 10 * ((100vw - 320px) / 1525));
  }

  .breadcrumbs__link,
  .breadcrumbs__item {
    font-size: calc(20px + 22 * ((100vw - 320px) / 1525));
  }

  .breadcrumbs__list li::after {
    font-size: calc(20px + 22 * ((100vw - 320px) / 1525));
  }

  .side__title {
    font-size: calc(26px + 24 * ((100vw - 320px) / 1525));
  }

  .side__title {
    margin-bottom: calc(30px + 22 * ((100vw - 320px) / 1525));
  }

  .filter__btn {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1525));
  }

  .catalog__title {
    margin-bottom: calc(35px + 10 * ((100vw - 320px) / 1525));
  }

  .actions-catalog__filter-btn {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1525));
  }

  .product__content {
    margin-bottom: calc(30px + 100 * ((100vw - 320px) / 1525));
  }

  .body-product__title {
    font-size: calc(24px + 30 * ((100vw - 320px) / 1525));
  }

  .body-product__label {
    font-size: calc(20px + 28 * ((100vw - 320px) / 1525));
  }

  .body-product__description {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1525));
  }

  .body-product__price {
    font-size: calc(24px + 11 * ((100vw - 320px) / 1525));
  }

  .about__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1525));
  }

  .about__title {
    margin-bottom: calc(50px + 79 * ((100vw - 320px) / 1525));
  }

  .about__text {
    margin-bottom: calc(84px + 11 * ((100vw - 320px) / 1525));
  }

  .about__images {
    margin-bottom: calc(84px + 74 * ((100vw - 320px) / 1525));
  }

  body {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1525));
  }

  .page__content {
    padding-top: calc(49px + 21 * ((100vw - 320px) / 1525));
  }

  .page__about {
    padding-top: calc(49px + 30 * ((100vw - 320px) / 1525));
  }

  .page__catalog {
    padding-top: calc(49px + 37 * ((100vw - 320px) / 1525));
  }

  .content__title {
    font-size: calc(36px + 60 * ((100vw - 320px) / 1525));
  }

  .content__title {
    margin-bottom: calc(36px + 93 * ((100vw - 320px) / 1525));
  }

  .content__item {
    margin-bottom: calc(50px + 35 * ((100vw - 320px) / 1525));
  }

  .item-content__title {
    font-size: calc(31px + 33 * ((100vw - 320px) / 1525));
  }

  .item-content__text {
    padding-left: calc(30px + 30 * ((100vw - 320px) / 1525));
  }

  .item-content__subtitle {
    margin-top: calc(50px + 79 * ((100vw - 320px) / 1525));
  }

  .item-content__subtitle {
    font-size: calc(28px + 27 * ((100vw - 320px) / 1525));
  }
}

@media (max-width: 1600px) {
  .text {
    font-size: 40px;
  }

  .top-header {
    min-height: 110px;
  }

  .top-header__search > button {
    width: 50px;
  }

  .top-header__search .input {
    padding: 0 52px 0 16px;
  }

  .actions-header__item > svg {
    width: 24px;
    height: 24px;
  }

  .actions-header__count {
    min-width: 20px;
    height: 20px;
    padding: 1px;
    top: -10px;
    right: -9px;
    font-size: 12px;
  }

  .menu__item > svg {
    width: 9px;
    height: 7px;
  }

  .menu__link {
    font-size: 16px;
  }

  .submenu__item {
    font-size: 16px;
  }

  .mainslider .swiper-pagination-bullet {
    height: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
  }

  .about-page__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
  }

  .catalog-page__label {
    padding: 40px;
  }

  .menu-footer__row {
    margin: 0 -20px;
  }

  .menu-footer__column {
    padding: 0 20px;
  }

  .socials-footer svg {
    height: 24px;
    width: 24px;
  }

  .about__text_bottom::before,
  .about__text_bottom::after {
    height: 3px;
  }
}

@media (max-width: 1600px) and (max-width: 1845px) {
  .text {
    font-size: calc(22px + 18 * ((100vw - 320px) / 1525));
  }
}

@media (max-width: 1200px) {
  .about-page__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 480px;
            flex: 0 0 480px;
  }

  .menu-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .images-product__subslide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
}

@media (max-width: 991.98px) {
  .select {
    display: block;
    width: 100%;
  }

  .select__head {
    min-height: 42px;
    padding: 2px 8px;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 100;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .select__head._active svg {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .select__head svg {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    height: 10px;
    width: 10px;
    margin: 0 0 0 10px;
  }

  .select__list {
    border: 1px solid #464646;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
  }

  .select__item {
    padding: 15px 20px;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .title_decor span::before {
    height: 150px;
    width: 150px;
  }

  .title_decor span::after {
    height: 154px;
    width: 154px;
  }

  .about-page__title::after,
  .about-page__title::before {
    height: 1px;
    background: -o-linear-gradient(0.01deg, rgba(94, 94, 94, 0) 0.01%, #5E5E5E 50.12%, rgba(94, 94, 94, 0) 99.99%);
    background: linear-gradient(89.99deg, rgba(94, 94, 94, 0) 0.01%, #5E5E5E 50.12%, rgba(94, 94, 94, 0) 99.99%);
  }

  .about-page__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-page__text {
    margin: 0 0 50px 0;
    text-align: center;
  }

  .about-page__images {
    margin: 0 auto;
    max-width: 100%;
  }

  .catalog-page__column {
    margin: 0 0 25px 0;
  }

  .catalog-page__column:last-child {
    margin: 0;
  }

  .catalog-page__item {
    min-height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__subscription {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .menu-footer__row {
    margin: 0 -10px;
  }

  .menu-footer__column {
    padding: 0 10px;
  }

  .filter__content {
    position: absolute;
    top: calc(100% + 4px);
    border: 1px solid #464646;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    padding: 15px;
  }

  .actions-catalog {
    min-height: 42px;
    border: 2px solid #DBE2E8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .product__images {
    margin: 0 0 30px 0;
  }

  .images-product__mainslider {
    height: 400px;
  }

  .images-product__subslider {
    margin: 0 -7px;
  }

  .images-product__subslide {
    padding: 0 7px;
  }

  .table-product {
    display: none;
  }

  .item-content__text_decor {
    background-size: 80px 25px;
  }
}

@media (max-width: 991.98px) and (any-hover: hover) {
  .select__item:hover {
    color: #979797;
  }
}

@media (max-width: 767.98px) {
  .header {
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .header._scroll {
    background-color: #fff;
    border-color: #464646;
  }

  .top-header {
    min-height: 60px;
  }

  .top-header__column:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53px;
            flex: 0 0 53px;
  }

  .top-header__search {
    margin: 0 0 57px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .top-header__search .input {
    background-color: transparent;
    border-bottom: 1px solid #464646;
  }

  .actions-header__phone {
    margin: 0 6px 0 0;
  }

  .menu {
    position: fixed;
    top: 60px;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    min-height: calc(100vh - 60px);
    height: 100%;
    z-index: 29;
    overflow: auto;
  }

  .menu._active {
    left: 0;
  }

  .menu__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 0 47px 0;
  }

  .menu__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 33px 10px 0 10px;
    background: rgba(255, 255, 255, 0.85);
  }

  .menu__item > svg {
    display: none;
  }

  .menu__item {
    margin: 0 0 24px 0;
    padding: 0 0 0 20px;
  }

  .menu__item::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 1px;
    width: 15px;
    background-color: #464646;
  }

  .menu__more {
    display: block;
    height: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    width: 20px;
    background-color: transparent;
    position: relative;
    margin: 0 0 0 12px;
  }

  .menu__more::before,
  .menu__more::after {
    content: "";
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    position: absolute;
    background-color: #464646;
  }

  .menu__more::before {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .menu__more::after {
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .menu__more._active::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .menu__link {
    font-size: 30px;
  }

  .menu__submenu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .submenu__list {
    padding: 15px 0 0 0;
  }

  .submenu__item {
    font-size: 22px;
    position: relative;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
  }

  .submenu__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 1px;
    width: 15px;
    background-color: #464646;
  }

  .icon-menu {
    display: block;
    background-color: transparent;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    width: 28px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background-color: #434343;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .mainslider .swiper-pagination-bullets {
    bottom: 20px;
  }

  .mainslider .swiper-pagination-bullet {
    height: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10px;
            flex: 0 0 10px;
    margin: 0 14px 0 0;
  }

  .mainslider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: calc(100vh + 175px);
    padding: 70px 10px;
  }

  .mainslider__image_half {
    display: none;
  }

  .mainslider__image_main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: block;
  }

  .mainslider__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .mainslider__btn {
    padding: 0 20px;
  }

  .mainslider__btn__arrow {
    width: 50px;
    height: 16px;
  }

  .images-product__subslide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .about__image-col {
    margin: 0 0 20px 0;
  }

  .page__content {
    padding-top: 100px;
  }
}

@media (max-width: 630px) {
  .footer__logo {
    width: 65px;
    margin: 0 0 20px 0;
  }

  .footer__copy {
    margin: 0 0 18px 0;
  }

  .menu-footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 767.98px) and (max-width: 1845px) {
  .actions-header__phone {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1525));
  }

  .menu__item {
    margin-right: calc(1px + 76 * ((100vw - 320px) / 1525));
  }
}

@media (max-width: 1600px) and (min-width: 767.98px) {
  .menu__list {
    height: 65px;
  }
}

@media (max-width: 767.98px) and (min-width: 500px) {
  .mainslider__btn {
    max-width: 50%;
  }
}

@media (min-width: 991.98px) and (max-width: 1845px) {
  .catalog-page__row {
    min-height: calc(300px + 460 * ((100vw - 320px) / 1525));
  }

  .filter__title {
    font-size: calc(22px + 6 * ((100vw - 320px) / 1525));
  }

  .product__btn {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 1525));
  }

  .product__body {
    padding-left: calc(20px + 15 * ((100vw - 320px) / 1525));
  }

  .table-product tr:first-child td {
    font-size: calc(22px + 20 * ((100vw - 320px) / 1525));
  }

  .table-product th {
    font-size: calc(20px + 10 * ((100vw - 320px) / 1525));
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .images-product__mainslider {
    max-width: 80%;
    margin: 0 auto 20px auto;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    color: #374A67;
    background-color: rgba(217, 226, 232, 0.51);
  }

  .menu__link:hover span {
    color: #979797;
  }

  .mainslider__btn:hover {
    color: #fff;
  }

  .actions-product__btn svg:hover {
    fill: inherit;
  }

  a:hover {
    color: #979797;
  }

  svg:hover {
    fill: #979797;
  }
}